.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav {
  padding: 20px;
  background-color: darkred;
}

nav a {
  color: lightgrey;
  margin: 20px;
  text-decoration: none;
}

.active {
  font-weight: bold;
  color: white;
}

input {
  border: solid 2px red;
  border-radius: 3px;
  padding: 10px;
  width: 300px;
  box-shadow: 3px 3px 8px blue;
}

button {
  padding: 5px 20px;
  border-radius: 3px;
  box-shadow: 3px 3px 8px blue;
  border: solid 2px red;
}

h2 {
  text-shadow: 5px 5px 5px blue;
}